{% extends "layout.html" %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Kanban</h1>
      <p class="lead text-muted">That's a MySQL, PHP, Javascript kanban board !</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Spotted !</a>
        <a href="#" class="btn btn-secondary my-2">Love <3 </a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Backlog"><title>Placeholder</title><rect width="100%" height="100%" fill="#cb6217"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Backlog</text></svg>
            <div class="card-body">
              <p class="card-text">Here goes the backlog cards</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">          
                <span class="material-icons">hourglass_empty</span>
                Next tasks...</small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "BACKLOG" %}
  <li class="list-group-item">{{task.1}}</li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add a task</a>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: To Do"><title>Placeholder</title><rect width="100%" height="100%" fill="#F95E5B"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">To Do</text></svg>
            <div class="card-body">
              <p class="card-text">On the desk...</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                <span class="material-icons">add_to_queue</span>
                Tasks</small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "TODO" %}
  <li class="list-group-item">{{task.1}}</li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add a task</a>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
          <div class="card-header">
          <span class="material-icons">queue_play_next</span>
          Doing
          </div>
            <div class="card-body">
              <p class="card-text">On fire !</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                
                Current tasks</small>
              </div>
              <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "DOING" %}
  <li class="list-group-item">{{task.1}}</li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add a task</a>
  </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Done"><title>Placeholder</title><rect width="100%" height="100%" fill="#2FB4DE"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Done</text></svg>
            <div class="card-body">
              <p class="card-text">Supercalifragilistic</p>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                <span class="material-icons">assignment_turned_in</span>
                Achieved</small>
              </div>
                <ul class="list-group list-group-flush">
    {% for task in tasks %}
  {% if task.2 == "DONE" %}
  <li class="list-group-item">{{task.1}}</li>
  {% endif %}
  {% endfor %}
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Add a task</a>
  </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>

</main>
{% endblock %}
